<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>파이버거의 햄버거 목록</h1>
    <div> {% for burger in burgers%}  
           <div>{{burger}}
           </div>
        {% endfor %}
    </div>

    <header>
    </header>

    <main>
    </main>

    <footer>
    </footer>
    
</body>
</html>






